body {
    background-color: lightgrey; /* add back ground color*/
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    font-family: 
}

header {
    background-color: #000000;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: rgb(255,255,255);
    text-align: center;
}

p {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-right: 1pc;
    margin-left: 1pc;
}

/*this is for attendance list*/
.mystyle2 {
    border: 5px solid black;
    border-radius: 10px;
    width: 200px;
    height: 150px;
}

img {
    max-width: 300px;
    min-width: 20px;
    position: static;
}

nav {
    position: sticky; 
    top:0;
}

nav:hover {
    background-color: yellow;
    width: 11rem;
}

a:active {
    background-color: yellow;
}
a[target] {
    background-color: red;
}
p.no_display {display: none;}
p.block_inline {display: inline-block;}

.flex_container {
    display: flex;

    /*define flow direction*/
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
}

.flex_item {
    background: white;
    font-size: 18px;
    padding: 1em;
    flex-grow: 2vw;
}

.flex_item2 {
    background: white;
    font-size: 18px;
    padding: 1em;
    flex-grow: 2vw;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkgrey;
    padding: 10px;
    gap: 10px;
    grid-template-areas:
        "header header header header"
        "main main mian sidebar"
        "footer footer footer footer";
}

.grid-item {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 18px;
    text-align: right;
    grid-area: header;
}

.grid-item2 {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 18px;
    text-align: right;
    grid-area: sidebar;
}

/*change background color depends on max-widht of screen*/
@media screen and (max-width: 600px) {
    body {
        background-color: white;
    }
}

@font-face {
    font-family: latos;
    src: url(Lato/Lato-Regular.ttf);
}

/*Universal Selector*/
* {
    font-family: latos;
}

/*ID selector*/
#highlight {
    background-color: yellow;
    max-width:500px;
}

/*Selector list*/
h1, h2, h3 {
    color: beige;
    background-color: darkgray;
    border: 2px solid black;
    padding: 5px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

/*Descendant Combinator*/
ul li{
    background-color: azure;
    max-width: 140px;
}

/*Child Combinator*/
details > p {
    background-color: seashell;
}

/*Adjacent sibling selector*/
div + main {
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
}

/*General Sibling Selector*/
div ~ p{
    background-color: white;
}

/*Combining Two Selectors*/
.make.red {
    background-color: red;
    max-width: 200px;
}