body {
    background-color: lightgrey; /* add back ground color*/
    padding-top: 1.5cm;
    padding-bottom: 1.5cm;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
}

p {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-right: 1pc;
    margin-left: 1pc;
}